<app-loader></app-loader>
<div class="container-fluid">
    <div class="no-top-space">
        <img src="assets/elif.png" alt="Example Image" class="full-width-image">
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Source sociale</h4>
                    <div class="row mt-4">
                        <div class="col-4">
                            <div class="social-source text-center mt-3">
                                <a href="https://www.facebook.com/CentreElifeKef2021/?locale=fr_FR" target="_blank">
                                    <div class="avatar-xs mx-auto mb-3">
                                        <span class="avatar-title rounded-circle bg-primary font-size-16">
                                            <i class="mdi mdi-facebook text-white"></i>
                                        </span>
                                    </div>
                                    <h5 class="font-size-15">Facebook</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="social-source text-center mt-3">
                                <div class="avatar-xs mx-auto mb-3"></div>
                                <h5 class="font-size-15"></h5>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="social-source text-center mt-3">
                                <a href="https://www.instagram.com/explore/locations/109725668096650/centre-elife-kef/?next=%2Fshahilkhan8098%2Ffeed%2F&ref=53pwep&hl=af" target="_blank">
                                    <div class="avatar-xs mx-auto mb-3">
                                        <span class="avatar-title rounded-circle bg-pink font-size-16">
                                            <i class="mdi mdi-instagram text-white"></i>
                                        </span>
                                    </div>
                                    <h5 class="font-size-15">Instagram</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Localisation</h4>
                    <div class="text-center">
                        <div class="mb-4">
                            <i class="bx bx-map-pin text-primary display-4"></i>
                        </div>
                        <div class="address">
                            Av. Taieb Mhiri, Le Kef<br>
                            Centre Elife Kef, Adresse
                        </div>
                        <div class="map-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3220.5247878197324!2d8.706801876510989!3d36.17811697243107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fba55131dd626f%3A0x9801b3800346b314!2sCentre%20Elife%20Kef!5e0!3m2!1sfr!2stn!4v1720032329159!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <div class="chart-options-container">
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
        </div>
        <div class="options-container">
            <label>
                <input type="radio" name="options" value="dev"> Dev
            </label>
            <label>
                <input type="radio" name="options" value="mobile"> Mobile
            </label>
            <label>
                <input type="radio" name="options" value="data"> Data
            </label>
        </div>
    </div>
    
</div>
