.no-top-space {
  margin-top: 0;
  padding-top: 0;
}

.full-width-image {
  width: 100%;
  height: auto; 
}

.map-container {
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.chart-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

#chart {
  flex: 1;
  display: flex;
  justify-content: center;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment as needed */
  flex-wrap: wrap; /* Wrap items if they exceed container width */
}

.options-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #495057; /* Adjust text color as needed */
}

.options-container input[type="radio"] {
  margin-right: 8px; /* Adjust spacing between radio button and label */
  cursor: pointer;
}

.options-container .selected-indicator {
  color: #28a745; /* Adjust color for selected indicator */
  margin-left: 5px; /* Adjust spacing between label and indicator */
  font-weight: bold;
}