<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover mb-0">
                <thead>
                  <tr>
                    <th>Nom de la Formation</th>
                    <th>Localisation</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Inscrire</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let formation of formations">
                    <td>{{ formation.formationName }}</td>
                    <td>{{ formation.local }}</td>
                    <td>{{ formation.timeB }}</td>
                    <td>{{ formation.time }}</td>
                    <td>{{ formation.description }}</td>
                    <td>
                      <a class="btn btn-primary btn-sm"
                         [href]="formation.lien_inscription"
                         target="_blank"
                         rel="noopener noreferrer">
                         Inscrire
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  